body{
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    height: 200vh;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    height: 7vh;
    margin: 0;

    position: relative;
}

main{
    margin: 10px;
}

#profile{
    /* background-color: #666666ff; */
    aspect-ratio: 4;
    height: 100%;

    position: absolute;
    left: 3%;
}

#profile #picture{
    position: absolute;
    top: 50%;
    left: 5%;

    transform: translate(0, -50%);
    height: 70%;
    aspect-ratio: 1;

    border-radius: 10px;
}

#profile #main{
    /* background-color: grey; */
    position: absolute;
    top: 40%;
    left: 30%;

    transform: translate(0, -50%);
    height: 45%;
    width: 50%;

    font-size: 20px;
    font-weight: 700;
}

#profile #sub{
    /* background-color: grey; */
    color: #cbcbcb;
    position: absolute;
    top: 75%;
    left: 30%;

    transform: translate(0, -50%);
    height: 35%;
    width: 50%;

    font-size: 14px;
}

#buttons{
    /* background-color: grey; */

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 60%;
    aspect-ratio: 8;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

#buttons button{
    background-color: transparent;
    flex: 1;

    color: rgb(219, 219, 219);
    border-radius: 8px;
    border-width: 0;

    cursor: pointer;

    font-size: 14px;
}

#buttons button:hover{
    background-color: #bcbcbc2c;
    color: #ffffff;
}

#buttons button.active{
    background-color: #ae57ff3a;
    color: #d5a7ff;
}