body{
    font-family: sans-serif;
    margin: 0;
}

ul{
    background-color: rgb(32, 27, 38);
    color: white;

    display: flex;
    flex-direction: row;

    gap: 40px;
    padding: 20px;
    margin: 0;

    list-style: none;

    font-weight: bold;
}

ul a{
    color: #ffffff;
    text-decoration: none;
}
ul a:hover{
    color: #9e53ff;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
  }
}