body{
  color:#49007f;
  font-family: sans-serif;

  height: 100vh;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
}

main{
  /* flex: 1; */
  margin: 10px;
  min-height: 0;
}

footer{
  background-color: #000000;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 20px;

  position: fixed;
  left: 50%;
  top: 100%;
  width: 100%;
  transform: translate(-50%, -100%);
}

.box{
  /* background-color:#e9ccff; */
  height: 50%;
  max-width: 85%;
  /* max-height: 25%; */
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /*padding: 10px;*/
  
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  /* margin: 5% auto 0;  */
  /*centers horizontally*/
  /* padding-top: 5%; */

  background-image: url(ttt.png);
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
}
.box div{
  /*background-color: #e9ccff; */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-image: url("circle.png"); */
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.box div.colored{
  filter: invert(100%) sepia(100%) saturate(200000000%) brightness(50%) hue-rotate(190deg);
}

button{
  width: 20%;
  height: 6%;
  min-width: 400px;

  /* margin: 5% auto; */
  display: block;
  border-radius: 9999px;
  background-color: #6700b3;
  color: #ffffff;
  font-weight: bold;

  position: fixed;
  left: 50%;
  top: 82%;

  transform: translate(-50%, -50%); /*anchor center*/

  /*outline: 0;
  box-shadow: none;
  appearance: none;*/
  border: 0;
}

.score{
  background-color: #8a8a8a;
  color: #000000;

  width: 15%;
  height: 8%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 40px;

  position: fixed;
  top: 8%;
  left:50%;
  transform: translate(-50%, -50%);
}

.score div{
  background-color: #ffffff;
}

.score .icon {
  background-color: #49007f;
  object-fit: contain;
  object-position: center;
  

}