body{
  color:#49007f;
  font-family: sans-serif;

  height: 100vh;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
}

main{
  /* flex: 1; */
  margin: 10px;
  min-height: 0;
}

footer{
  background-color: #000000;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 20px;

  position: fixed;
  left: 50%;
  top: 100%;
  width: 100%;
  transform: translate(-50%, -100%);
}

.box{
  /* background-color:#e9ccff; */
  height: min(50vh, 85vw); /*maxwidth would ignore aspect-ratio so..; this approach achieves the same*/
  /* max-width: 85%; */
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1ft;
  gap: 5%;
  /*padding: 10px;*/
  
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  /* margin: 5% auto 0;  */
  /*centers horizontally*/
  /* padding-top: 5%; */

  background-image: url(ttt.png);
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
}
.box div{
  /* background-color: rgba(255, 255, 255, 0.141); */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-image: url("circle.png"); */
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;

  /*TEST*/
  filter: brightness(0%);
}
.box div.colored{
  /* filter: invert(100%) sepia(100%) saturate(200000000%) brightness(50%) hue-rotate(190deg); */
  filter: none;
}

button{
  width: 20%;
  height: 6%;
  min-width: 200px;

  /* margin: 5% auto; */
  display: block;
  border-radius: 9999px;
  background-color: #6700b3;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;

  position: fixed;
  left: 50%;
  top: 82%;

  transform: translate(-50%, -50%); /*anchor center*/

  /*outline: 0;
  box-shadow: none;
  appearance: none;*/
  border: 0;
}

.score{
  background-color: #dcccff;
  color: black;

  height: 9%;
  aspect-ratio: 3;

  position: fixed;
  top: 9%;
  left:50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;
  border: 3px solid black;
  padding: 6px 20px 6px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 46px;
  font-weight: 700;
}

.score .icon {
  /* background-color: #cbcbcb; */
  object-fit: contain;
  object-position: center;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.score .icon img {
  width: 65%;
  aspect-ratio: 1;
  filter: brightness(0%);
  transition: all 0.1s ease-out;
}

.score .icon img.active {
  width: 75%;
  filter: brightness(100%);
}

a {
  color:#ad3aff;
}